
{% extends "base.html" %}
{% block body %}


{% load i18n %}

<div class="row container">
<div class="col-md-9">

<form action="https://mailthis.to/t.okada@oliver-f.net"
    method="POST" encType="multipart/form-data">
    <input type="text" name="name" placeholder="Your name"> <br>
    <input type="email" name="_replyto" placeholder="Your email"><br>
    <textarea name="message" placeholder="Enter your message here"></textarea><br>
    <input type="file" name="file" placeholder="Attachments (optional)"><br>
    <input type="hidden" name="_subject" value="Contact form submitted">
    <input type="hidden" name="_after" value="https://myhomepage.net/">
    <input type="hidden" name="_honeypot" value="">
    <input type="hidden" name="_confirmation" value="">
    <input type="submit" value="Send"><br>
</form>

</div>
</div>


{% endblock %}
