{% extends "base.html" %}
{% block body %}
{% load i18n %}


<!--<div class="container">-->
<div class="post_detail">


  <br />
  <h3>
    <a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
  </h3>

  <p>{% trans "Category: " %}
    <span class="category_name"> {{ post.category.name }}</span>
  </p>

  <br /><br />
  {{ post.published }}
  <br /><br />
  {% if post.image %}
  <img src="{{ post.image.url|default_if_none:'#' }}" class="img-fluid rounded" style="max-height: 200px;" />
  <br /><br />
  {% endif %}

  {{ post.body_to_markdown | safe }}
  <br /><br />

  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

  <a href="https://twitter.com/TokadaTweet?ref_src=twsrc%5Etfw" class="twitter-follow-button"
    data-show-count="false">Follow @TokadaTweet</a>

  <!--twitter share button-->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  <!-- 日本語化したJSを読み込む -->
  <script type="text/javascript" src="/include/js/htmlcommentbox.js"></script>



  <br><br>
  <div id="disqus_thread"></div>
  <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://okadas-blog.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
      Disqus.</a></noscript>

</div>
{% endblock %}