


{% extends "base.html" %}
{% load i18n %}

{% block body %}


<div class="row container">
    <div class="col-md-9">

    <!-- title  -->
    <section>
        <br>
        <h3>{% trans "Sort Results" %}</h3>
        <br>
    </section>


    <!-- LATEST POSTS  -->
        {% for post in categoryList %}
<section>
        <a href="{% url 'posts:post_detail' post.id %}" class="list-title">{{ post.title }}</a>
        <br>
        {{ post.published }}
        <br>

        <p> {% trans "Category: " %}
            <span class="category_name"> {{ post.category.name }}</span>
        </p>
          <!--{% trans "Tag: " %}-->
            <!--<span class="tag_name"> {{ post.tag.name }}</span>-->


        <!-- SHow img if any -->
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid rounded " style="max-height: 200px; max-width: 40%"/>
            <br><br>
            {% endif %}
</section>
        <br/><br/>
        {% endfor %}


    </div>

    <!-- right side column  -->
    <div class="col-md-3">

    <!-- category search dropdown  -->
    <section>
        <p>{% trans "Sort by Category" %}</p>
          <form action = "{% url 'posts:search-result' %}">
              <select name="category">
  <option value="IoT">IoT</option>
  <option value="Machine Learning">Machine Learning</option>
  <option value="Computer Science">Computer Science</option>
  <option value="Frontend">Frontend</option>
  <option value="Database">Database</option>
  <option value="Web Devlopment">Web Devlopment</option>
  <option value="Others">Others</option>
              </select>
              <input class="btn btn-outline-success" type="submit" value="Search">
          </form>
          <hr>
    </section>


    <!-- twitter -->
    <section>
            <br><br>
                <a class="twitter-timeline" data-lang="en" data-width="250" data-height="200" data-theme="light" href="https://twitter.com/TokadaTweet?ref_src=twsrc%5Etfw">{% trans "Tweets by TokadaTweet" %}</a>
            <br><br>
     </section>
</div>



{% endblock %}





