{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block body %}

<h2>Welcome to my blog</h2>

<hr>
<section>



<p> {% trans "With technical language specialist experience in high-tech industry, I started studying Information Science especially Natural Language Processing. I joined several projects such as building RESTful APIs, data collection and transformation, object-detection, sound recognition, building C++ code bases, and so on.  My primary languages are Python and Javascript." %}</p> 
<p>{% trans "Currently, my main interests include web-development, such as developing front-end with modern stacks and back-end APIs in user-friendly manner." %}  </p>
{% trans "This blog is built with these stacks." %}
{% trans "Python(Django), Bootstrap, EC2, PostgreSQL, gunicorn, and Nginx. " %}
<br><br>
</section>

<section>

<img class="logos" src="{% static 'img/AWS-Cloud-alt_light-bg@4x.png' %}" alt="logo" width="25%" height="20%">
<img class="logos_djiango" src="{% static 'img/django-logo-positive.png' %}" alt="logo" width="30%" height="20%">
<img class="logos" src="{% static 'img/PostgreSQL_logo.3colors.120x120.png' %}" alt="logo" width="25%" height="20%">
<img class="logos_nginx" src="{% static 'img/nginx.svg' %}" alt="logo" width="25%" height="20%">

</section>
{% endblock %}