{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block body %}

<h2>Welcome to my blog</h2>

<hr>
<section>



    With technical language specialist experience in high-tech industry,
I started studying Information Science especially Natural Language Processing. I Joined several machine learninng projects (edge computing and object detection with YOLO, sound recognition with TF / Keras / Azure ML / Bazel)<br><br>
Currently, my main interests include NLP, MLOps, and backend development such as developing APIs, database management,
cloud, edge computing, data collection, cyber-security, and infrastructure/network.<br><br>
{% trans "This blog is built with these stacks." %}
{% trans "Python(Django), Bootstrap, EC2, PostgreSQL, gunicorn, and Nginx. " %}
<br><br>
</section>


<section>

<img class="logos" src="{% static 'img/AWS-Cloud-alt_light-bg@4x.png' %}" alt="logo" width="25%" height="20%">
<img class="logos_djiango" src="{% static 'img/django-logo-positive.png' %}" alt="logo" width="30%" height="20%">
<img class="logos" src="{% static 'img/PostgreSQL_logo.3colors.120x120.png' %}" alt="logo" width="25%" height="20%">
<img class="logos_nginx" src="{% static 'img/nginx.svg' %}" alt="logo" width="25%" height="20%">

</section>
{% endblock %}